
.box1{
    width: 716px;
    height: 26px;
}
.text-1{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-size: 16px;
    font-weight: 600;
   line-height: 26px;
   letter-spacing: 0px;
    text-align: center;
    margin-top: 80px;
    color: #282828;
}
.box2{
    width: 716px;
    height: 62px;
}
.text-2{
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -1px;
    text-align: center;
    color: #282828;
}
.box3{
    width: 760px;
    height: 70px;
}
.text-3{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
    color: #5F6980;
    margin-top: 16px;
    margin-left: 22px;
    margin-right: 22px;
    font-family: 'Inter', sans-serif;
}
.wraper{
    width: 1336px;
    margin: 0 auto;
}
