
.box1{
    width: 716px;
    height: 26px;
}
.text-1{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-size: 16px;
    font-weight: 600;
   line-height: 26px;
   letter-spacing: 0px;
    text-align: center;
    margin-top: 80px;
    color: #282828;
}
.box2{
    width: 716px;
    height: 62px;
}
.text-2{
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -1px;
    text-align: center;
    color: #282828;
}
.box3{
    width: 760px;
    height: 70px;
}
.text-3{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
    color: #5F6980;
    margin-top: 16px;
    margin-left: 22px;
    margin-right: 22px;
    font-family: 'Inter', sans-serif;
}
.wraper{
    width: 1336px;
    margin: 0 auto;
}
.row1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 908px;
    align-content: space-between;
    margin-top: 48px;

}
.block1{
    width: 310px;
    height: 430px;
}
.text-5{
    width: 278px;
   height: 30px;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
color: #282828;
padding-top: 7px;
}
.text-6{
  color: #3E3E59;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
width: 278px;
height: 22px;
padding-top: 4px;
}
.text-7{
    width: 278px;
   height: 44px;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
color:  #5F6980;
padding-top: 8px;

}
.icon-blocks{
    margin-top: 24px;
    letter-spacing: 16px;
}
.footer{
    width: 1654px;
    height: 512px;
    background-color: #53535354;
    margin: 48px auto 0 auto;
    padding: 108px 184px 181px 164px;
    width:100%;

}
.footer-main{
    display: flex;
    width: 1306px;
    height: 223px;
}
.footer-box{
    display: flex;
    width: 318.05px;
    height: 223px;
    flex-direction: column;   
}
.footer-image{
    width: 100px;
    height: 64px;

}
.footer-text{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter'; 
    line-height: 16.94px;
    margin: 32px 0 35px 12px;
    color: #535353;

}
.footer-icons{
    display: flex;
    justify-content: space-between;
    width: 104px;
    height: 24px;
    margin-left: 12px;
}
.footer-box1{
    display: flex;
    flex-direction: column;   
    padding-left: 150px;
}
.text8{
    color:  #1E1E1E;
    font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 71px;
}
.text9{
    color: #535353;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

}